STORAGE/IMAGES/*.jpg
STORAGE/VIDEOS/*.mp4

**.thumbs
**.meta

**.claude

.attach*

### Arduino client - WiFi credentials and server address ###
client/ESP32CamTimelapse/secrets.h

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
