STORAGE/IMAGES/cam*.jpg
STORAGE/IMAGES/.thumbs/cam*.jpg
STORAGE/IMAGES/.meta/cam*.jpg
STORAGE/VIDEOS/cam*.mp4
STORAGE/VIDEOS/.thumbs/cam*.jpg
STORAGE/VIDEOS/.meta/cam*.jpg

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
